* {
    box-sizing: border-box;
}

.viewport {
    height: 600px;
    width: 600px;
    overflow-y: scroll;
}

.item {
    display: flex;
    height: 30px;
    width: 100%;
    border: 2px solid #004578;
    background: #007CBA;
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    align-items: center;
    justify-content: center;
}

.paint {
    background: url(/vite.svg), gray;
    background-blend-mode: multiply;
    height: 1px;
    width: 1px;
    margin: 1px;
}
